// fonts
$font-stack:  'Muli',  Helvetica, sans-serif;
$header-font-stack: 'Lato', sans-serif;

// font sizes
$header-size: 4.5em;
$title-size: 2em;
$text-size: 1.5em;
$subtext-size: 1.2em;
$bold: 700;

// colors
$primary-theme-color: #01243C;
$secondary-theme-color: #c98916;
$primary-bkgd-color: #ffffff;
$secondary-bkgd-color: #b4c5d0;
$primary-text-color: #032e62;
$secondary-text-color: #ffffff;
$primary-link-color: #c98916;
$secondary-link-color: #8F0030;
$credit-text-color: #cccccc;

// margins and paddings
$large-mp: 50px;
$regular-mp: 20px;
$small-mp: 10px;

