// fonts
$font-stack:  'Muli',  Helvetica, sans-serif;
$header-font-stack:  sans-serif;

// font sizes
$header-size: 4.5em;
$title-size: 2em;
$text-size: 1.5em;
$subtext-size: 1em;
$bold: 700;

// colors
$primary-theme-color: #032e62;
$secondary-theme-color: #600020;
$primary-bkgd-color: #ffffff;
$secondary-bkgd-color: #f2f3f4;
$primary-text-color: #032e62;
$secondary-text-color: #ffffff;
$primary-link-color: #ffcc00;
$secondary-link-color: #600020;
$credit-text-color: #cccccc;

// margins and paddings
/*$large-mp: ;*/
$regular-mp: 20px;
/*$small-mp: ;*/

