html,
body {
	font-family: $font-stack;
	width: 100vw;
	margin: 0px;
	background: $secondary-bkgd-color;
	z-index: -1000;
}

h1 {
	font-family: $header-font-stack;
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: $primary-link-color;
	cursor: pointer;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-margin-top {
	margin-top: 0px;
}

.xlarge-font-size {
	font-size: $header-size;
}

.large-font-size {
	font-size: $title-size;
}

.regular-font-size {
	font-size: $text-size;
}

.text-left {
	text-align: left;
}

.capitalize {
	text-transform: capitalize;
}

.section-box {
	width: 300px;
	padding: 50px;
	background: $primary-bkgd-color;
	color: $primary-text-color;
	text-align: center;
	position: absolute;
	z-index: 1;

	h1 {
		font-weight: $bold;
		letter-spacing: 1.5px;
	}

	p {
		font-size: 1.2em;
	}
}

.upper-box {
	width: 100vw;
	height: 200px;
	position: absolute;
	background: $secondary-theme-color;
	color: $secondary-text-color;
}


.lower-box {
	width: 100%;
	height: 200px;
	background: $primary-theme-color;
}