html,
body {
	font-family: $font-stack;
	width: 100vw;
	margin: 0px;
	// background: rgba(0, 0, 0, 0.8);
	z-index: -1000;
}

h1 {
	font-family: $header-font-stack;
	margin-top: 0px;
}

a {
	text-decoration: none;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-margin-top {
	margin-top: 0px;
}

.xlarge-font-size {
	font-size: $header-size;
}

.large-font-size {
	font-size: $title-size;
}

.regular-font-size {
	font-size: $text-size;
}

.text-left {
	text-align: left;
}

.capitalize {
	text-transform: capitalize;
}