@import 'declarations';
@import 'general';
@import 'svg';

#header {
	height: 100vh;

	#video-background {
	  	background-color: $primary-bkgd-color;
	  	height: 100%;
	  	width: 100%;
	  	position: absolute;
	  	overflow: hidden;
	}

	#video-foreground,
	#video-background iframe {
		opacity: 50%;
		width: 105%;
		height: 105%;
		pointer-events: none;
		margin: -2%;
	}

	// background tint overlay
	#video-foreground:before {
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 100%;
	    width: 100%;
	    display: block;
	    content: ' ';
	    background: #000;
	    opacity: 0.4;
	}

	#nav {
		text-align: center;
		position: absolute;
		top: 100px;
		margin: auto;
		z-index: 100;
		width: 100%;

		.navbar {
			padding: 0px;

			ul {
				list-style-type: none;
			}

			li {
				display: inline-block;
				padding-left: 30px;
				padding-right: 30px;
				color: $secondary-text-color;
			}
		}	
	}

	#welcome {
		text-align: center;
		position: absolute;
		right: 15vw;
		top: 30%;
		z-index: 10;

		p{
			color: $secondary-text-color;
			font-size: $title-size;
			margin: 0px;
		}

		#headerText1 {
			text-transform: capitalize;
		}

		#headerText2 {
			text-transform: lowercase;
			font-size: $text-size;
			margin-top: 15px;
		}

		#headerText3 {
			text-transform: uppercase;
			font-family: $header-font-stack;
			font-size: $header-size;
			margin-top: 15px;
		}

		#headerText4 {
			text-transform: uppercase;
			font-size: 3.5em;
			margin-bottom: 30px;
		}

		#headerText5 {
			text-transform: capitalize;
			font-size: $text-size;
		}
	}
}

/* ============================= sections ============================= */
/* == about section == */
#about-section{
	margin: 0;
	width: 100vw;
	position: relative;

	#about-upper-box {
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
		overflow: hidden;

		#about-text {
			padding-top: $large-mp;
			font-size: $subtext-size;
			width: 40vw;
			margin-left: -50vw;
		}
	}

	#about-bkgd-box{
		display: flex;

		.about-bkgd{
			display: inline-block;
			margin: auto;
			text-align: center;
			flex: 1;

			h1{
				padding-top: 200px;
				opacity: 0;
			}
		}
	}

	#about-lower-box {
		clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
		display: block;
	}
}

#member-box {
	left: 60vw;
	transform: translate(0px, 60px);
	// position: absolute;

	.member-link {
		padding: 10px;
	}

	.member-link:hover a{
		color: $secondary-link-color;
	}
}

#instabkgd {
	height: 600px;
}

/* == practice section == */
#practice-section {
	#practice-upper-box {
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
		overflow: hidden;

		#practice-title {
			padding-top: $large-mp;
			margin-left: -50vw;
			font-size: 2em;
		}
	}

	#practice-bkgd-box {
		#practice-info {
			text-align: center;
			padding: 20px;
			margin-left: 60vw;
			width: 25%;
			opacity: 0;

			p {
				margin: 0;
				color: $secondary-text-color;
			}
			#practiceText1 {
				font-size: 1.5em;
			}
			#practiceText2 {
				font-size: 3em;
				font-weight: bold;
				font-family: $header-font-stack;
				letter-spacing: 2px;
			}
			#practiceText3 {
				font-size: 1.2em;
				margin-top: 15px;
			}
			#practiceText4 {
				font-size: 1.5em;
			}
			#practiceText5 {
				font-size: 1.5em;
			}
			#practiceText6 {
				font-size: 1em;
				margin: 15px;
			}
		}
	}

	#practice-lower-box {
		clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
		display: flex;

		.social-link {
			color: $secondary-text-color;
			margin: auto;
			display: inline-block;
			text-align: center;
			flex: 1;
			font-size: $subtext-size;
			opacity: 0;
			align-items: center;
		}
	}
}
	
#practice-box {
	left: 10vw;
	text-align: left;
	opacity: 0;
}

/* == social section == */
#social-section {
	display: absolute;
	height: 600px;
	z-index: -1000;
}

/* == contact section == */
#contact-section {
	#contact-upper-box {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%);
		overflow: hidden;
		color: $secondary-text-color;

		.social5 {
			color: $primary-theme-color;
		}

		#social4 {
			font-size: $subtext-size;
			width: 40vw;
			margin-left: -50vw;
		}
		#contact-text {
			text-align: center;
			padding: 20px;
			margin-left: 100vw;
			width: 350px;

			p {
				margin: 0;
			}

			#contactText1 {
				font-size: 2em;
			}
			#contactText2 {
				margin-top: 10px;
			}
			#contactText3 {
				margin-top: 15px;
				font-size: $subtext-size;
				opacity: 0;
			}
		}
	}
}


/* == footer == */
#footer {
	display: flex;
	height: 500px;
	align-items: flex-end;

	#footer-text {
		width: 100vw;
		position: absolute;
		background: $primary-theme-color;
		color: $secondary-text-color;
	}

	#footer-contact {
		display: flex;
		text-align: center;
		padding-top: $small-mp;

		a {
			flex: 1;
		}
	}

	.credit {
		opacity: 0.3;
		font-size: 10px;
		width: 100vw;
		text-align: center;
		bottom: 0px;
		margin-top: 10px;
		margin-bottom: 5px;
	}

}

