@import 'declarations';
@import 'general';
@import 'svg';

header {
	height: 100vh;
    // background: $primary-theme-color; /* For browsers that do not support gradients */
 //    background: -webkit-linear-gradient($secondary-link-color, $primary-theme-color, $primary-theme-color, $primary-theme-color); /* For Safari 5.1 to 6.0 */
 //    background: -o-linear-gradient($secondary-link-color, $primary-theme-color, $primary-theme-color, $primary-theme-color); For Opera 11.1 to 12.0
 //    background: -moz-linear-gradient($secondary-link-color, $primary-theme-color, $primary-theme-color, $primary-theme-color); /* For Firefox 3.6 to 15 */
 //    background: linear-gradient($secondary-link-color, $primary-theme-color, $primary-theme-color, $primary-theme-color); /* Standard syntax (must be last) */ 
	// padding-bottom: 20px;
	// clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
	// opacity: 50%;

	.video-background {
	  	// background: $primary-bkgd-color;
	  	z-index: -99;
	  	height: 100vh;
	  	width: 100vw;
	}

	.video-foreground,
	.video-background iframe {
		opacity: 50%;
		width: 100%;
		height: 100%;
		pointer-events: none;
		min-height: 80px;
		-webkit-transition: -webkit-transform 3s ease;
	  	transition: transform 3s ease;
	}

	.tint {
		display: block;
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		background: rgba(0, 0, 0, 0.5);
		transition: background 3s ease;
		min-height: 80px;
		-webkit-transition: -webkit-transform 3s ease;
	  	transition: transform 3s ease;
	}

	.anim{
	    -webkit-transform:translate(0px,-90vh);
	    transform:translate(0px,-90vh);
	    position: fixed;
	}

	.nav {
		padding: $regular-mp;
		text-align: center;
		position: fixed;
		top: 0;
		right: 20%;
		margin: auto;
		z-index: 100;
		// width: 780;

		.navbar {

			ul {
				list-style-type: none;
			}

			li {
				display: inline-block;
				padding-left: 30px;
				padding-right: 30px;
				a {
					color: $secondary-text-color;
				}
			}
		}	
	}

	.welcome {
		text-align: center;
		width: 50%;
		position: absolute;
		right: 0px;
		top: 30%;
		padding: $small-mp;
		z-index: 100;

		p{
			color: $secondary-text-color;
			font-size: $title-size;
			margin: 0px;
		}

		#headerText1 {
			text-transform: capitalize;
		}

		#headerText2 {
			text-transform: lowercase;
			font-size: $text-size;
			margin-top: 15px;
		}

		#headerText3 {
			text-transform: uppercase;
			font-family: $header-font-stack;
			font-size: $header-size;
			margin-top: 15px;
		}

		#headerText4 {
			text-transform: uppercase;
			font-size: 3.5em;
			margin-bottom: 30px;
		}

		#headerText5 {
			text-transform: capitalize;
			font-size: $text-size;
		}
	}
}

/* ============================= sections ============================= */
/* == about section == */
#about-section{
	margin: 0;
	width: 100vw;
	height: 600px;
	overflow: hidden;

	#about-bkgd-box{

		.about-bkgd{
			display: inline-block;
			// width: (100%/3)-1;
			margin: auto;
			text-align: center;
			height: 600px;

			h1{
				padding-top: 280px;
			}
		}
	}
}

#member-box {
	left: 60vw;
	transform: translate(0px, 60px);

	.member-link {
		padding: 10px;
	}

	.member-link:hover a{
		color: $secondary-link-color;
	}
}

/* == practice section == */
#practice-section {
	margin: 0;
	width: 100vw;

	#practice-upper-box {
		width: 100%;
		height: 150px;
		background: $primary-theme-color;
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
	}

	#practice-bkgd-box {
		// width: 100%;
		display: flex;
		align-items: center;

		#practice-box {
			left: 8vw;
			text-align: left;
			transform: translate(0px, -30px);
		}

		#practice-bkgd {
			text-align: center;
			width: 25%;
			padding: 20px;
			position: relative;
			left: 28vw;

			p {
				margin: 0;
				color: $secondary-text-color;
			}
			#practiceText1 {
				font-size: 1.5em;
			}
			#practiceText2 {
				font-size: 3em;
				font-weight: bold;
				font-family: $header-font-stack;
				letter-spacing: 2px;
			}
			#practiceText3 {
				font-size: 1.2em;
				margin-top: 15px;
			}
			#practiceText4 {
				font-size: 1.5em;
			}
			#practiceText5 {
				font-size: 1.5em;
			}
			#practiceText6 {
				font-size: 1em;
				margin: 15px;
			}
		}
	}

	#practice-lower-box {
		width: 100%;
		height: 150px;
		background: $primary-theme-color;
		clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
		z-index: 1000;
		display: flex;
		justify-content: space-evenly;
		align-content: space-around;

		.social-link {
			color: $secondary-text-color;
			margin: auto;
		}

		.social-link:nth-child(1) {
			transform: translate(0px, -30px);
		}

		.social-link:nth-child(2) {
			transform: translate(0px, 20px);
		}

		.social-link:nth-child(3) {
			transform: translate(0px, 50px);
		}


	}
}
	


// .small-box {
// 	width: 240px;
// 	margin: auto;
// }

// .mid-box {
// 	width: 360px;
// 	margin: auto;
// }


// about section
// #about-section {
// 	// height: 400px;
// 	h1 {
// 		color: $primary-text-color;
// 	}
// }

// #practice-section {
// 	// top: -200px;
// }

// // practice & contact sections
// #practice-section,
// #contact-section {
// 	text-align: center;
// 	background: $primary-theme-color; 
// 	color: $secondary-text-color;
// 	padding: 100px;
// 	height: 500px;
// 	clip-path: polygon(0% 0%, 100% 10%, 100% 80%, 0% 100%);
// 	overflow: visible;
// 	z-index: 100;
// }

// // fb section
// #fb-section {
// 	// top:-300px;
// 	position:relative;
// 	height: 500px;
//     background: $primary-theme-color; /* For browsers that do not support gradients */
//     background: -webkit-linear-gradient($primary-theme-color, $primary-theme-color, $secondary-link-color, $primary-theme-color, $primary-theme-color); /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient($primary-theme-color, $primary-theme-color, $secondary-link-color, $primary-theme-color, $primary-theme-color); /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient($primary-theme-color, $primary-theme-color, $secondary-link-color, $primary-theme-color, $primary-theme-color); /* For Firefox 3.6 to 15 */
//     background: linear-gradient($primary-theme-color, $primary-theme-color, $secondary-link-color, $primary-theme-color, $primary-theme-color); /* Standard syntax (must be last) */ 
// 	color: $secondary-text-color;
// 	padding: 100px;
// 	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
// }

// #fb-section,
// #credit-section {
// 	text-align: center;
// 	overflow: visible;
// }

// #practice-info {
// 	width:50vw;
// 	left: 0;
// }

/* ============================= boxes ============================= */


/* ============================= background ============================= */
