@import 'declarations';
@import 'general';
@import 'svg';

/* ============================= sections ============================= */
/* == about section == */
#about-section{
	margin: 0;
	width: 100vw;
	position: relative;

	#about-upper-box {
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
		overflow: hidden;
		z-index: 100;

		#about-text {
			padding-top: $large-mp;
			font-size: $subtext-size;
			width: 40vw;
			margin-left: -50vw;
		}
	}

	#about-bkgd-box{
		display: flex;
		

		.about-bkgd{
			margin: auto;
			text-align: center;
			flex: 1;
			height: 700px;
			width: auto;	
			overflow: hidden;

			* {
				position: relative;
			}

			.overlay {
			  position: relative;
			}

			.overlay:before{
			  background-color: rgba(0,0,0,0.3);
			  position: absolute;
			  content:" ";
			  top:0;
			  left:0;
			  width:100%;
			  height:100%;
			  display: block;
			}

			.overlay:hover:before{
			  display: none;

			}

			.overlay:hover h1{
				display: none;
			}

			.about-bkgd-inner {
				height: 100%;
				-webkit-transition-duration: 1s;
				-webkit-transition-property: transform;
				transition-duration: 1s;
				transition-property: transform;

				h1 {
					text-align: center;
					color: $secondary-text-color;
					z-index: 100;
					padding-top: 100%;
					font-size: 3em;
					letter-spacing: 3px;
					position: relative;
				}			
			}
			.about-bkgd-inner:hover {
				transform: scale(1.1);
			}
			#about1 {
				background: url('../img/background/home/endurance.jpg') center no-repeat;
				background-size: cover;
			}

			#about2 {
				background: url('../img/background/home/flexibility.jpg') center no-repeat;
				background-size: cover;
			}
			#about3 {
				background: url('../img/background/home/strength.jpg') center no-repeat;
				background-size: cover;
			}		
		}

		.outer-box{
			overflow: hidden;	
		}		
	}

	#about-lower-box {
		clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
		z-index: 10;
		position: absolute;
	}
}

#member-box {
	left: 60vw;
	z-index: 500;
	transform: translate(0px, -50px);
	position: absolute;

	.member-link {
		padding: 10px;
	}
}

#instabkgd {
	background: url('../img/background/home/members.jpg') center no-repeat;
	background-size: cover;
	width: 100%;
	display: block;
	height: 700px;
	z-index:-10;
	opacity:0;
}

/* == practice section == */
#practice-section {
	#practice-upper-box {
		clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
		overflow: hidden;
		z-index: 30;

		#practice-title {
			padding-top: $large-mp;
			margin-left: -50vw;
			font-size: 2em;
		}
	}

	#practice-upper-box-right {
		clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 20%);
		overflow: hidden;
		width: 100vw;
		height: 200px;
		position: absolute;
		background: $primary-theme-color;
		z-index: 10;
		// color: $secondary-text-color;
	}

	#practice-bkgd-box {
		#practice-info {
			text-align: center;
			padding: 20px;
			margin-left: 60vw;
			width: 25%;
			opacity: 0;

			p {
				margin: 0;
				color: $secondary-text-color;
			}
			#practiceText1 {
				font-size: 1.5em;
			}
			#practiceText2 {
				font-size: 3em;
				font-weight: bold;
				font-family: $header-font-stack;
				letter-spacing: 2px;
			}
			#practiceText3 {
				font-size: 1.2em;
				margin-top: 15px;
			}
			#practiceText4 {
				font-size: 1.5em;
			}
			#practiceText5 {
				font-size: 1.5em;
			}
			#practiceText6 {
				font-size: 1em;
				margin: 15px;
			}
		}
	}

	#practice-lower-box {
		clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
		display: flex;
		z-index: 100;

		.social-link {
			color: $secondary-text-color;
			margin: auto;
			display: inline-block;
			text-align: center;
			flex: 1;
			font-size: $subtext-size;
			opacity: 0;
			align-items: center;

			#social3 {
				a {
					color: $primary-link-color;
				}
			}
		}
	}
}
	
#practice-box {
	left: 10vw;
	text-align: left;
	opacity: 0;
	z-index: 50;
}

/* == social section == */
#social-section {
	background: url('../img/background/home/social.jpg') center no-repeat;
	background-size: cover;
	display: absolute;
	height: 300px;
	z-index: -1000;
	transform: translate(0px, 150px);
}

/* == contact section == */
#contact-section {

	#contact-upper-box {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%);
		overflow: hidden;
		color: $secondary-text-color;
		transform: translate(0px, -150px);

		

		#social4 {
			font-size: $subtext-size;
			width: 40vw;
			margin-left: -50vw;
			a {
				color: $primary-theme-color;
			}
		}
		#contact-text {
			text-align: center;
			padding: 20px;
			margin-left: 100vw;
			width: 350px;

			p {
				margin: 0;
			}

			#contactText1 {
				font-size: 2em;
			}
			#contactText2 {
				margin-top: 10px;
			}
			#contactText3 {
				margin-top: 15px;
				font-size: $subtext-size;
				opacity: 0;

				a {
					color: $primary-theme-color;
				}
			}
		}
	}
}

