
$primary-theme-color: #032e62;
$secondary-theme-color: #600020;
$primary-bkgd-color: #ffffff;
$secondary-bkgd-color: #f2f3f4;
$primary-text-color: #032e62;
$secondary-text-color: #ffffff;
$primary-link-color: #ffcc00;
$secondary-link-color: #600020;


.description-text {

}